[submodule "Moyen"]
    path = ./source/springboot/Moyen
    url = ./source/springboot/Moyen
[submodule "source/springboot/Moyen"]
	path = source/springboot/Moyen
	url = https://github.com/fr1g/Moyen.git
